html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.team {
  background: #FAFAFA;
  padding: 80px 0 87px 0;
}
.team .block {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: "Martel";
  padding: 5px 20px 5px 20px;
  font-weight: 700;
  font-size: 40px;
  color: #252B42;
}
.team .block .title {
  line-height: 1.5;
}
.team .block br {
  display: none;
}
.team .block .content {
  align-items: center;
  font-family: "Open Sans";
  font-style: normal;
  width: 238px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #737373;
}
.team .attorneys {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team .container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
.team .container .ashley {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  height: 291px;
  background-color: #FFFFFF;
}
.team .container .ashley *:not(:last-child) {
  margin-bottom: 5px;
}
.team .container .ashley .description {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 170px;
}
.team .container .ashley .description p {
  line-height: 1.25;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #737373;
}
.team .container .ashley span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #D0A144;
}
.team .container .ashley .name {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #252B42;
}

@media only screen and (min-width: 576px) {
  .team .block {
    display: flex;
    align-items: center;
  }
  .team .block .content {
    width: 431px;
  }
  .team .container {
    grid-template-columns: 230px 230px;
    grid-gap: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .team .block br {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .team .block {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .team .block .content {
    width: 431px;
    padding-bottom: 50px;
  }
  .team .container {
    grid-template-columns: 230px 230px 230px 230px;
  }
}

/*# sourceMappingURL=style.css.map */
