html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.team {
  background: #FAFAFA;
}

.block {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Martel";
  margin-top: 30px;
  padding: 30px;
  font-weight: 700;
  font-size: 40px;
  color: #252B42;
}
.block .title {
  line-height: 1.5;
}
.block br {
  display: none;
}
.block .content {
  font-family: "Open Sans";
  font-style: normal;
  min-width: 238px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #737373;
}

.attorneys {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .ashley {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px 20px;
  width: 250px;
  height: 291px;
}
.container .ashley .photo {
  padding-bottom: 5px;
}
.container .ashley .description {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 170px;
}
.container .ashley .description p {
  line-height: 1.25;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #737373;
}
.container .ashley span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  padding-bottom: 10px;
  font-size: 14px;
  color: #D0A144;
}
.container .ashley .name {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 5px;
  color: #252B42;
}

@media only screen and (min-width: 576px) {
  .block {
    display: flex;
    align-items: center;
  }
  .block .content {
    width: 431px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container .ashley {
    width: 360px;
  }
}
@media only screen and (min-width: 768px) {
  .block br {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .block {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .block .content {
    width: 431px;
    padding-bottom: 50px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .container .ashley {
    width: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
