.footer {

    .footer__links {
        padding-bottom: 80px;

        .container {
            flex-direction: row;
            flex-wrap: wrap;

            div:not(:last-child) {
                margin-right: 30px;
                margin-bottom: 0;
            }
        }
    }

    .description {
        padding-bottom: 93px;
        
        .container {
            
            p {
                 max-width: 100%;
            }
        }
    }
}