.block {
    display: flex;
    align-items: center;
   

    .content {
    width: 431px;
  }
   }

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

     .ashley {
      width: 360px;
      
      
  }
}