.about {
	.container {
		align-items: center;
		min-width: none;
		padding: 0 15px;

		.bottom {
			min-width: 1050px;
			flex-direction: row;
			justify-content: space-between;

			.bottom__left {
				align-items: center;
				margin: 0;
			}

			.bottom__right {
				padding: 34px 0 24px;
				max-width: 333px;
			}
		}
	}
}