.team {

.block {
  display: flex;
  flex-direction: column;
  text-align: center;
  .content {
    width: 431px;
    padding-bottom: 50px;
  }
}

 .container {
    grid-template-columns: 230px 230px 230px 230px;
  
}
}

  
  
  
     
     
    
