.block {
  display: flex;
  flex-direction: column;
  text-align: center;
  .content {
    width: 431px;
    padding-bottom: 50px;
  }
}

 .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .ashley {
    width: 250px;   
      
}
}


  
  
  
     
     
    
