//Colors
$whiteColor: #fff;
$whiteSilverColor: #f9f9f9;
$whiteBackgroundColor: #fafafa;
$lightOrangeColor: #DBB468;
$orangeColor: #D0A144;
$darkBlueColor: #252B42;
$blueColor: #295C7A;
$grayColor: #737373;
$brownColor: #784F33;
$silverColor: #BDBDBD;

