.hero {
  .container {
    padding: 224px 15px 177px 15px;
    position: relative;
  }

  h2 {
    font-weight: 900;
    font-size: 58px;
    line-height: 65px;
  }

  p {
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
  }

  .button-wrapper {
    flex-direction: row;
    margin-bottom: 0;
  }

  .cta-button {
    &:not(:last-of-type) {
      margin: 0 10px 0 0;
    }
  }

  .stats-list {

    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    background-color: $whiteColor;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);

    @media only screen and (min-width: 1050px) {
      min-width: 1050px;
    }

    &__item {
      width: 230px;
      min-height: 96px;
      margin: 0 !important;

      @media only screen and (min-width: 960px) {
        width: 240px;
      }
    }

    .break {
      display: none;
    }
  }

  .desktop-spacer {
    height: 104px;
    background-color: $whiteColor;
  }
}