.header {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 28px 0 15px;
  }

  .logo-link {
    position: static;
    transform: translateY(0);
  }

  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .main-menu {
    flex-direction: row;
    justify-content: flex-start;
    min-height: auto;
    width: auto;
    padding: 0;
    position: static;
    background-color: transparent;
    margin-right: 27px;

    &__item {
      &:not(:last-child) {
        margin-right: 21px;
      }
    }

    &__link {
      font-weight: 600;
      font-size: 14px;
    }
  }

  .menu-buttons {
    position: static;
    transform: translateY(0);

    &__burger {
      display: none;
    }
  }
}

.header_active {
  .logo-link {
    color: $whiteColor;
  }

  .main-menu {

    &__link {
      color: $whiteColor;
    }
  }

  .menu-buttons {
    &__icon {
      fill: $whiteColor;
    }
  }
}