.about {
	padding: 0 0 135px;

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 45px;

		.top {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 100px 0 100px;
			max-width: 600px;
			min-width: 251px;

			.title {
				margin-bottom: 28px;
				text-align: center;
				font-family: 'Martel';
				font-weight: 700;
				font-size: 40px;
				letter-spacing: 0.2px;
				color: $darkBlueColor;
			}

			.subtitle {
				font-family: 'Open Sans';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
				text-align: center;
				letter-spacing: 0.2px;
				color: $grayColor ;

			}
		}

		.bottom {
			display: flex;
			flex-direction: column;

			align-items: center;

			.bottom__left {
				display: block;
				position: relative;
				min-width: 232px;

				&::before {
					content: '';
					position: absolute;
					width: 100%;
					height: 442px;
					z-index: 10;
					background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
				}

				img {
					display: block;
					position: relative;
					width: 100%;
					height: 442px;
					object-fit: cover;
					z-index: 1;
				}

				.bottom__button {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 97px;
					height: 97px;
					border: none;
					background-color: $blueColor;
					border-radius: 73.6px;
					cursor: pointer;
					z-index: 1000;

					&::after {
						content: '';
						display: inline-block;
						width: 0;
						height: 0;
						border-top: 13.5px solid transparent;
						border-left: 24px solid $whiteColor;
						border-bottom: 13.5px solid transparent;
					}
				}
			}

			.bottom__right {
				padding: 80px 0 22px;
				max-width: 600px;
				display: flex;
				flex-direction: column;


				.quality {
					padding: 20px 0 20px;
					display: flex;
					flex-direction: column;
					justify-content: center;

					.bottom-right__title {
						margin-bottom: 20px;
						text-align: start;
						font-family: 'Martel';
						font-weight: 700;
						font-size: 40px;
						letter-spacing: 0.2px;
						color: $darkBlueColor;
					}

					.bottom-right__subtitle {
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						line-height: 20px;
						text-align: start;
						letter-spacing: 0.2px;
						color: $grayColor;
						max-width: 306px;
					}
				}

				.bottom-right__list {
					padding: 30px 0;

					.bottom-right__item {
						display: flex;

						&:not(:last-child) {
							margin-bottom: 30px;
						}

						svg {
							width: 30px;
							height: 30px;
							margin-right: 21px;
						}

						h5 {
							font-family: 'Martel';
							font-weight: 700;
							font-size: 16px;
							line-height: 24px;
							letter-spacing: 0.1px;
							color: $darkBlueColor;
							text-align: start;
							margin-bottom: 5px;
						}

						p {
							font-family: 'Open Sans';
							font-weight: 700;
							font-size: 14px;
							letter-spacing: 0.2px;
							color: $grayColor;
						}



					}
				}

			}
		}
	}
}