.contacts {
    max-width: 1440px;
    background: linear-gradient(180deg, $darkBlueColor 97.6%, $whiteBackgroundColor 2.4%);
    padding: 75px 0 80px 0;
    margin: 0 auto;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;

        .contacts-top {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 50px 39px 125px;

            &__text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                font-family: 'Open Sans', 'Arial', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: $whiteColor;
                text-align: start;
                margin-bottom: 130px;

                h3 {
                    font-family: 'Martel', 'Arial', sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 50px;
                    margin-bottom: 25px;
                    line-height: 50px;
                    max-width: 456px;
                }

                p {
                    max-width: 270px;/*400*/
                }
            }

            img {
                max-width: 100%;
            }
        }

        .contacts-bottom {
            display: flex;
            flex-direction: column;
            background-color: $whiteColor;

            &__photo {
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            &__form {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 40px 48px;
                background-color: $whiteColor;

                h3 {
                    font-family: 'Martel', 'Arial', sans-serif;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 50px;
                    color: $darkBlueColor;
                    text-align: start;
                    margin-bottom: 40px;
                }

                .contacts-bottom__contact-form {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    label, p {
                        font-family: 'Open Sans', 'Arial', sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 24px;
                        letter-spacing: 0.2px;
                        color: $darkBlueColor;
                        margin-bottom: 10px;
                    }

                    input {
                        display: block;
                        width: 100%;
                        height: 50px;
                        border: 1px solid $silverColor;
                        border-radius: 5px;
                        margin-bottom: 15px;
                        padding-left: 20px;
                        font-family: 'Montserrat', 'Arial', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        letter-spacing: 0.2px;
                        color: $grayColor;
                        background-color: $whiteSilverColor;

                    }

                    select {
                        display: block;
                        width: 100%;
                        height: 50px;
                        border: 1px solid $silverColor;
                        border-radius: 5px;
                        padding-left: 20px;
                        font-family: 'Montserrat', 'Arial', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 28px;
                        letter-spacing: 0.2px;
                        color: $grayColor;
                    
                        appearance: none;
                        background: $whiteSilverColor url('/img/contacts-select-arrow.svg') no-repeat right;
                        background-position-x: calc(100% - 20px)
                    }

                    select:nth-of-type(1) {
                        margin-bottom: 10px;
                    }

                    select:nth-of-type(2) {
                        margin-bottom: 40px;
                    }

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 50px;
                        border-radius: 5px;
                        background-color: $brownColor;
                        border: transparent;
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        letter-spacing: 0.2px;
                        color: $whiteColor;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}