.team {
  background: #FAFAFA;
  padding: 80px 0 87px 0;


  .block {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: "Martel";
    padding: 5px 20px 5px 20px;
    font-weight: 700;
    font-size: 40px;
    color: #252B42;

    .title {
      line-height: 1.5;
    }

    br {
      display: none;
    }

    .content {
      align-items: center;
      font-family: 'Open Sans';
      font-style: normal;
      width: 238px;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.5;
      color: #737373;
    }

  }

  .attorneys {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 30px;

    .ashley {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      height: 291px;
      background-color: #FFFFFF;

      *:not(:last-child) {
        margin-bottom: 5px;
      }

      .description {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 170px;

        p {
          line-height: 1.25;
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          color: #737373;
        }

      }

      span {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: #D0A144;

      }

      .name {
        font-family: 'Martel';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #252B42;
      }
    }
  }

}